<h1 id="edit_head">Edit Game</h1>



<form action='/games/<%= @game.id %>' method='post' id="edit_form">
 <label>
    <p>
   Name
   </p>
   <input type="text" name="name" value="<%=@game.name%>">
 </label>


<label>
  <p>
  Quantity
  </p>
  <input type="number" name="quantity" value="<%=@game.quantity%>">
</label>

<label>
<p>
Publisher
</p>
    <select name ="publisher_id" id="choose_pub">
    <% for publisher in @publishers %>
      <option value="<%= publisher.id %>"><%= publisher.name %></option>
    <% end %>
    </select>
</label>


<input type="submit" value="Update Game" id="update_game">

</form>


<!-- </div>
 -->