<div id="gamedetails">
<h1>Game Details</h1>

<p>Name: <%= @game.name%></p>
<p>Stock level: <%= @game.stock_level%></p>
<p>Quantity: <%= @game.quantity%></p>
<p>Publisher <%= @game.publisher.name%></p>
</div>


<form id="delete" action='/games/<%=@game.id%>/delete' method="post"><input type="submit" value="Delete Game"></form>

<a id="edit_game" href="/games/<%=@game.id%>/edit">Edit Game</a>